<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon" (click)="sideBarToggler()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Eagle</span>
  <span class="example-spacer"></span>
  <div class="row">




    <span matBadge="4" matBadgeOverlap="false" class="demo-section" class="col tool"><button
        class="btn"><i class="fa-sharp fa-solid fa-bell"></i></button></span>
    <span matBadge="1" matBadgeOverlap="false" class="demo-section" class="col tool"><button
        class="btn"><i class="fa-solid fa-envelope"></i></button></span>

    <span class="col"><button
        class="btn">
        <select class="form-select" aria-label="Default select example">
          <option selected>English</option>
          <option value="1">Hindi</option>
          <option value="2">Spanish</option>
          <option value="3">Marathi</option>
        </select>
      </button></span>
  </div>
  <div class="row mr-2 ml-auto">
    <ul class="row m-0 align-items-center">
      <li>
        <button
          mat-button
          [matMenuTriggerFor]="menu"
          class="user mt-2 d-flex align-items-center">
          <img src="../../../assets/images/saurabh.png.jpg" alt=""
            class="user-image mr-1 p-2" />
          Saurabh K
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <i class="fa-solid fa-user m-2"></i>
            Account
          </button>
          <button mat-menu-item>
            <i class="fa-solid fa-gear m-2"></i>
            Setting
          </button>
          <button mat-menu-item>
            <i class="fa-solid fa-right-from-bracket m-2"></i>
            Logout
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>