<div class="container">
    <ul>
        <li class="btn-sidenav"><i class="fa-solid fa-gauge  "></i><a routerLink="/dashboard">Dashboard</a></li>
        <li class="btn-sidenav"><i class="fa-solid fa-list "></i><a routerLink="/listing">Listing</a></li>
        <li class="btn-sidenav"><i class="fa-solid fa-bars-progress "></i><a routerLink="/crm">CRM</a></li>
        <li class="btn-sidenav"><i class="fa-solid fa-sitemap "></i><a routerLink="/crypto">Crypto</a></li>
        <li class="btn-sidenav"><i class="fa-solid fa-hotel"></i><a routerLink="/realestate">Estate</a></li>
    </ul>
</div>